# Use PWN::Plugins::Vault.create(file: 'pwn.yaml') to encrypt this file
# ai_engine: 'openai' || 'ollama'
ai_engine: 'openai'

# Use PWN::Plugins::Assembly.list_supported_archs to list supported architectures
asm:
  arch: 'x86_64'
  endian: 'little'

openai:
  key: 'required - OpenAI API Key'
  model: 'optional - OpenAI model to use'
  system_role_content: 'You are an ethically hacking OpenAI agent.'
  temp: 'optional - OpenAI temperature'

ollama:
  fqdn: 'required - FQDN for Open WebUI - e.g. https://ollama.local'
  key: 'required - Open WebUI API Key Under Settings  >> Account >> JWT Token'
  model: 'required - Ollama model to use'
  system_role_content: 'You are an ethically hacking Ollama agent.'
  temp: 'optional - Ollama temperature'

irc:
  ui_nick: '_human_'
  shared_chan: '#pwn'
  ai_agent_nicks:
    browser:
      pwn_rb: '/opt/pwn/lib/pwn/plugins/transparent_browser.rb'
      system_role_content: 'You are a browser.  You are a web browser that can be controlled by a human or AI agent'
    ninja:
      pwn_rb: ''
      system_role_content: 'You are a sarcastic hacker.  You find software zero day vulnerabilities. This involves analyzing source code, race conditions, application binaries, and network protocols from an offensive security perspective.'
    nmap:
      pwn_rb: '/opt/pwn/lib/pwn/plugins/nmap_it.rb'
      system_role_content: 'You are a network scanner.  You are a network scanner that can be controlled by a human or AI agent'
    shodan:
      pwn_rb: '/opt/pwn/lib/pwn/plugins/shodan.rb'
      system_role_content: 'You are a passive reconnaissance agent.  You are a passive reconnaissance agent that can be controlled by a human or AI agent'

meshtastic:
  psks:
    admin: 'required - PSK for admin channel'
    LongFast: 'required - PSK for LongFast channel'
    PWN: 'required - PSK for pwn channel'

hunter:
  api_key: 'hunter.how API Key'

shodan:
  api_key: 'SHODAN API Key'
